
.leftSide {
  float: left;
  height: 100vh;
  padding-left: 15px;
  text-align: left;

  display: inline-block;
  /*align-items: stretch;
  flex-wrap: wrap;*/

  background-color: lightblue;
  background-size: contain;

  width: 50%;
  border-right: 5px solid black;
}

.leftBottom{
  padding-left: 15px;
  text-align: left;
  float: left;

  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.volume{

}

.buttonsPlacer{
  border: 2px solid;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding-top: 45px;
  align-items: center;
}

.buttons{
  padding: 5px;
  border-spacing: inherit;
  text-align: center;
}

.layers{

}

.displayOfSelection{
  border-left: solid;
  border-bottom: solid;
  border-bottom-left-radius: 10%;
  border-right: solid;
  border-bottom-right-radius: 10%;
  width: 150px;
  padding-top: 40px;
}

.genAndReset{
  border-radius: 4px;
}

.title {
  border: outset;
  border-width: medium;
  background-color: lightblue;
  font-style: italic;
  text-decoration-color: blue;

}
.site {
  display: inline-block;
  float: left;
  width: 100%;
  background-color: lightblue;
}

.gcode {
  display: inline-block;
  text-align: right;
  float: right;
  margin-right: 10px;
}

.gcodeHolder {
  overflow-y: auto;
  height: 100vh;
  background-color: lightblue;
  text-align: right;
  font-weight: bold;
  padding-right: 15px;
  border-left: 5px solid black;
  background-size: cover;
}

.scaleCircle {
  width: 50px
}
