
.leftSide {
  float: left;
  height: 97vh;
  padding-left: 15px;
  text-align: left;
  display: inline-block;
  background: no-repeat center;
  background-color: lightblue;
  background-image: url("sochol-web.jpg");
  background-size: contain;
  width: 50%;
  border-style: double;
  border-right: 5px solid black;
}

.title {
  border: outset;
  border-width: medium;
  background-color: lightblue;
  font-style: italic;
  text-decoration-color: blue;
}
.site {
  display: inline-block;
  float: left;
  width: 100%;
  background-color: lightblue;
  outline-style: outset;
}

.gcode {
  display: inline-block;
  text-align: right;
  float: right;
  margin-right: 10px;
}

.gcodeHolder {
  overflow-y: auto;
  height: 97vh;
  background-color: lightblue;
  border-style: double;
  text-align: right;
  font-weight: bold;
  padding-right: 15px;
  border-left: 5px solid black;
  background-image: url("BAM-Tilt2.png");
  background-size: cover;
}
