
.leftSide {
  float: left;
  margin-left: 10px;
  text-align: left;
  display: inline-block;
}

.site {
  display: inline-block;
  float: left;
  width: 100%;
}

.slider {
  display: inline-block;
}

.slidecontainer {
  display: inline-block;
  margin-left: 20px;
}

.gcode {
  display: inline-block;
  text-align: right;
  float: right;
  margin-right: 10px;
}

.gcodeHolder {
  overflow-y: auto;
  height: 97vh;
}
