
.leftSide {
  float: left;
  margin-left: 10px;
  text-align: left;
  display: inline-block;
  background-color: lightblue;
}

.site {
  display: inline-block;
  float: left;
  width: 100%;
  background-color: lightblue;
}

.slider {
  display: inline-block;
}

.slidecontainer {
  display: inline-block;
  margin-left: 20px;
}

.gcode {
  display: inline-block;
  text-align: right;
  float: right;
  margin-right: 10px;
}

.gcodeHolder {
  overflow-y: auto;
  height: 97vh;
  background-image: url("BAM-Tilt2.png");
  border-style: double;
  text-align: right;
}
